{% extends "base.html" %}

{% block title %}
        文章归档
    </title>
{% endblock %}

{% block css %}
    <link href="/static/layui/css/layui.css" rel="stylesheet"/>
    <style>
        /* disable layui style */
        .layui-card-header {
            border-bottom: transparent;
        }

        .layui-card {
            background-color: transparent;
        }

        .layui-timeline-axis {
            background-color: transparent;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="mysection">
        <div class="layui-card">
            <div class="layui-card-header"><h1>&emsp;文章归档</h1></div>
            <div class="layui-card-body">
                <ul class="layui-timeline">
                    {% for article_list in data %}
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title" style="padding:0">{{ article_list.date }}</h3>
                                <ul>
                                    {% for article in article_list.articles %}
                                        <li>
                                            <em>{{article.created|date:"d" }}日</em>
                                            <a href="{% url "article:article_detail" article.id %}">{{ article.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </section>
{% endblock %}

{% block js %}
    <script src="/static/layui/layui.js"></script>
{% endblock %}